body {
    font-family: Roboto Mono, sans-serif;
    /* background-color: rgb(192, 192, 192); */
}

h1 {
    text-align: center;
}

h2 {
    text-align: right;
}
#cryptopunks {
    display: flex;
    flex-wrap: wrap-reverse;
}

/* box shadow and card css attributed to https://www.w3schools.com/howto/howto_css_cards.asp */
.punk-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    border-top: 20px;
    width: 375px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.punk-card:hover {
    box-shadow: 20px 20px 30px 10px rgba(0,0,0,0.3);
  }
  
img {
    
    border-radius: 10px 10px 10px 10px;
  }